<div id="contact">
    <div id="contact_bank">
         <h1>Ouvidoria</h1><br/>
        <div id="title">   
            <p>A Ouvidoria existe para que nós possamos vê-lo satisfeito com nossos produtos, serviços e atendimento.</p><br/>
            <div id="mid-text">
                <p>Contamos com uma equipe especializada para prestar atendimento aos clientes e usuários de produtos e serviços, que já recorreram aos nossos canais de atendimento, e que não ficaram satisfeitos com a solução apresentada. De forma imparcial e isenta, nossa Ouvidoria visa uma solução ágil e tem o compromisso de buscar soluções efetivas, além de trabalhar na identificação de melhorias nos demais canais de relacionamento, produtos e serviços. Entre em contato com a Ouvidoria:</p>    
            </div><br/>
            <h2 id="mid-title">Fale com a Ouvidoria</h2><br/>
            <h3 id="low-text"> Por telefone </h3><br/>
            <p>
                Se não ficou satisfeito com a solução apresentada para sua reclamação, contate a Ouvidoria, mas caso seja a sua primeira reclamação, entre em contato com o nosso SAC pelo telefone 0800 700 0300.
                A Ouvidoria funciona de segunda a sexta-feira, das 8h às 22h, e aos sábados das 9h às 14h, exceto feriados.
                Entre em contato com a nossa Ouvidoria pelo telefone 0800 700 0300 ou pelo nosso WhatsApp 55 (61) 1234 5678.
                Para pessoas com deficiência auditiva e de fala, ligue para 0800 700 0300
                No exterior, ligue a cobrar para: 55 (61) 1234 5678
            </p>
        </div>
    </div>
</div>