
    <div id="about">
        <div id="about_bank">
            <h1 id="title">Sobre nosso banco</h1><br/>
        <div >
          <h3>Missão</h3><br/>
          <p>
            Atuar como banco público sólido, 
            ágil, moderno, eficiente e rentável, 
            protagonista do desenvolvimento econômico, social e humano, 
            da geração do emprego e renda e da melhoria da qualidade de vida regional, 
            alinhado às melhores práticas de governança e gestão, e aos princípios e valores éticos.
          </p>
        <br/>
        </div>
        
        <div id="about_bank">
         <h3>Visão</h3><br/>
          <p>
            Ser o banco preferencial dos nossos clientes, 
            reconhecido pela experiência inovadora e completa, 
            pelo resultado superior e pelo impacto positivo na vida das pessoas e no desenvolvimento das empresas.
         </p>
        <br/>
        </div>
        <div id="about_bank">
            <h3>Valores</h3>
        </div>
        <br/>
        </div>
        
        <div id="about_bank">
            <h2>1. Ética, integridade e transparência</h2><br/>
        <p>
            A ética, a integridade e a transparência são inegociáveis e norteiam as nossas ações em todos os níveis.
        </p><br/>

        <h2>2. Foco no cliente em relações de longo prazo</h2><br/>
        <p>
            Os clientes são a nossa razão de ser e trabalhamos incansavelmente para surpreendê-los e superar suas expectativas.
        </p><br/>

        <h2>3. Gente</h2><br/>
        <p>
            Nossas pessoas fazem a diferença. Respeitamos as nossas equipes, valorizamos a diversidade e estimulamos a criação de um ambiente saudável e colaborativo, em que cada um produza o seu melhor.
        </p><br/>

        <h2>4. Foco no Resultado</h2><br/>
        <p>
            Os resultados nos movem diariamente, garantem a sustentabilidade da empresa, o reconhecimento e a valorização das equipes a remuneração aos acionistas.
        </p><br/>

        <h2>5. Atitude de dono</h2><br/>
        <p>
            Pensamos e agimos como donos, temos compromisso com a empresa, lideramos pelo exemplo e colocamos os objetivos da empresa acima dos nossos objetivos pessoais.
        </p><br/>

        <h2>6. Meritocracia</h2><br/>
        <p>
            Nossa cultura estimula, valoriza e reconhece o mérito das equipes, proporcionando oportunidades de crescimento para quem faz a diferença e gera resultados superiores.
        </p><br/>

        <h2>7. Simplicidade e eficiência operacional</h2><br/>
        <p>
            A busca permanente da simplicidade, da agilidade e da desburocratização são fundamentais para a eficiência operacional, a melhoria constante e uma experiência superior para nossos clientes e equipes.
        </p><br/>

        <h2>8. Inovação e criatividade</h2><br/>
        <p>
            Estimulamos a inovação, a criatividade, o uso de novos modelos de gestão e da tecnologia para superar nossos desafios e modernizar nossa empresa.
        </p><br/>
        
        <h2>9. Responsabilidade socioambiental</h2><br/>
        <p>
            Estimulamos a inovação, a criatividade, o uso de novos modelos de gestão e da tecnologia para superar nossos desafios e modernizar nossa empresa.
        </p><br/>

        <h2>10. Governança</h2><br/>
        <p>
            Estimulamos a inovação, a criatividade, o uso de novos modelos de gestão e da tecnologia para superar nossos desafios e modernizar nossa empresa.
        </p><br/>
        

       <div id="about_bank">
        <h3>Propósito</h3><br/>
        <p>
            Transformar a vida das pessoas e promover desenvolvimento econômico, social e humano por meio de soluções financeiras, de meios de pagamento e de seguridade simples, inovadoras e digitais, com uma experiência única e completa.
        </p><br/>
       </div>
        </div>
    </div>
